body{
        background-image: url("./img/6.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
.rain{
    background-image: url("./img/rain-4431_256.gif");
    background-position: center;
    background-size: cover;
}
.clear{
    background-image: url("./img/clearDay.gif");
    background-position: center;
    background-size: cover;
}
.clouds{
    background-image: url("./img/cloud.jpg");
    background-position: center;
    background-size: cover;
}
/* .haze{
    background-image: url("./img/haze.jpg");
    background-position: center;
    background-size: cover;
} */
.default{
    background-image: url("./img/haze.jpg");
    background-position: center;
    background-size: cover;
}
/* #dwallpaper{
    background-image: url('./img/6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
#cityName{
    height: 50px;
    background: transparent;
}

#btn{
    width: 200px;
    height: 50px;
}
#temp{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}
#sunRise{
    font-weight: bold;
}
#sunSet{
    font-weight: bold;
}
#humidity{
    font-weight: bolder;
}
#countryName{
    font-weight: bold;
}
#clock{
    font-weight: bold;
}
#Localclock{
    font-weight: bold;
}
#condition{
    font-weight: bold;
}
